<head>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="/assets/scss/style.scss" type="text/css" />

    <!-- Document Title
    ============================================= -->
    <title>{{ renderData.title or title or metadata.title }}</title>

    <!-- Meta
    ============================================= -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="">
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <meta name="robots" content="index,follow">
    <meta name="generator" content="Eleventy">

    {% include "components/seo.njk" %}

</head>
