<!--Twitter Card-->
<meta name="twitter:site" content="{{ site.twitter }}">
<meta name="twitter:creator" content="{{ site.twitter }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ site.url + page.url }}">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.cover_image }}">

<!--Schema-->
<link rel="author" href="{{ site.author }}">
<link rel="publisher" href="{{ site.publisher }}">
<meta itemprop="name" content="{{ site.title }}">
<meta itemprop="description" content="{{ site.description }}">
<meta itemprop="image" content="{{ site.cover_image }}">

<!-- Facebook OpenGraph -->
<meta property="og:url" content="{{site.url + page.url}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:image" content="{{ site.cover_image }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="{{ site.lang }}">
<meta property="article:author" content="{{ site.url }}">
