$font-family-sans-serif: 'Source Sans Pro', sans-serif !default;
$font-size-root: 20px !default;
$font-size-base: 0.8rem !default;
$font-size-sm: 0.7rem !default;
$font-size-lg: 1rem !default;
$font-weight-lighter: lighter !default;
$font-weight-light: 400 !default;
$font-weight-normal: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;
